@model Jewelry.Web.Models.JewelriesViewModel

@{
    ViewData["Title"] = "Index";
}

    <table>
        <tr>
               @Html.Partial("Categories", Model.categoryWithPropertiesViewModel)   
                <td  style="position:absolute; margin-top:130px; margin-left:550px;" >
                    <table  >
                        
                            @foreach (var jewelry in Model.Jewelries)
                            {
                                <tr style="font-size:large;">
                                    @Html.Partial("Jewelry", jewelry)
                                </tr>
                            }
                      
                    </table>
                </td>
            </tr>
     </table>
